
/*--------------------- Grid Container -------------------*/
* {box-sizing: border-box;}

/* body{
  background-image: url("../img/fallout_demo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;

} */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "nameArea nameArea healthArmor healthArmor" "primaryStat secondaryStat healthArmor healthArmor" "primaryStat secondaryStat apSpoolImpEndurance apSpoolImpEndurance" "skills1 skills2 skills3 skills4" "skills1 skills2 skills3 skills4"; 
  
}

.nameArea {
  grid-area: nameArea;

 }

.healthArmor {
  grid-area: healthArmor;
}

.primaryStat {
  grid-area: primaryStat;
}

.secondaryStat {
  grid-area: secondaryStat;
}

.apSpoolImpEndurance {
  grid-area: apSpoolImpEndurance;
}

.skills1 {
  grid-area: skills1;
  background-image: url("../img/background/charsheet_small_ verticle_rectangle.png");
  background-size: contain;
  background-position: : center;
  background-repeat: no-repeat;
}

.skills2 {
  grid-area: skills2;
  background-image: url("../img/background/charsheet_small_ verticle_rectangle.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.skills3 {
  grid-area: skills3;
  background-image: url("../img/background/charsheet_small_ verticle_rectangle.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.skills4 {
  grid-area: skills4;
  background-image: url("../img/background/charsheet_small_ verticle_rectangle.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  justify-self: center;
   
} 

/*--------------------- Title Styles -------------------*/

.charSheet {
  text-align: center;
  text-transform: uppercase;
}

/*--------------------- Input Field Styles -------------------*/
#modSkillPts:hover, #modApSpool:hover {
  background-color: #bec5d1;
  cursor: not-allowed;
}

.nameSpace{
    text-align: center;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
}

.nameArea span, p, select {
    margin-left: 5px;
}

.numSpace{
    text-align: center;
    border: 0;
    border-bottom: 2px solid red;
    outline: 0;
    font-weight: bold;
    width: 35px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}/*Removes Number spinners from input type=number fields*/

.primaryStat input, 
.secondaryStat input, 
.skills1 input,
.skills2 input,
.skills3 input,
.skills4 input,
.healthArmor input{
  width: 32px;
  text-align: center;
}

/* .skills1 table,
.skills2 table,
.skills3 table{
  margin-left: auto;
  margin-right: auto;
  
} */

#total{
  margin-left: 15px;
}

.primaryStat input, 
.secondaryStat input, 
.skills1 input,
.skills2 input,
.skills3 input,
.skills4 input,
.numSpace,
.nameSpace,
.healthArmor input,
.apSpoolImpEndurance input{
  background: transparent;
}/*Makes all input fields transparent*/

/* body{
  background-image: url(../img/fallout_demo2.jpg);
  height: auto;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;  
}  */

.skName{
  cursor: pointer;
  display: inline;
  border-radius: 3px;
  padding: 2px 5px 2px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}/*Skill names styles*/

.healthArmor{
  /*background-color: blue;*/
}

input.dmg {
  width: 55px;
  text-align: center;
}

.throwTable {
  position: relative;
  left: 48%;
  bottom: 81%;
  
}

.throwTable td input, button {
  margin-left: 6px;
}

#thrownButton {
  position: absolute; 
  height: 23px;
  top: 24%; 
  white-space: nowrap; 
  margin-left: 1px;
}

#dmgRollInput {
  position: absolute; 
  height: 22.4px;
  top: 50.5%;   
  margin-left: 1px; 
}

input[name=dmgRoll] {
  width: 115px;
}

table.throwTable td:first-child {
  font-weight: bold;
}

tfoot #thrownResultTotal {
  text-align: center;
  font-weight: bold;
}

tfoot #thrownRollResults, tfoot td {  
  font-weight: normal;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
  max-width: 100px;
}

.apSpoolImpEndurance h2{
  text-align: center;
  padding-bottom: 30px;
}

.apSpoolImpEndurance input[name=dmg] {
  width: 50px;
  font-size: 18pt;
  font-family: "Helvetica Nue", serif;
  font-weight: bold;
  text-align: center;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
}

/*--------------------- Save/Load Styles ------------------------*/

.button {
   position: relative;
   top: 50px;
   left: 25%;
   border: 1px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#bbbebf), to(#3e779d));
   background: -webkit-linear-gradient(top, #bbbebf, #3e779d);
   background: -moz-linear-gradient(top, #bbbebf, #3e779d);
   background: -ms-linear-gradient(top, #bbbebf, #3e779d);
   background: -o-linear-gradient(top, #bbbebf, #3e779d);
   background-image: -ms-linear-gradient(top, #bbbebf 0%, #3e779d 100%);
   padding: 8px 16px;
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #869cb5 0 1px 0;
   color: #0dffa2;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }

.button:hover {
  cursor: pointer;
   border: 1px solid #f5f5f5;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #eff2f1;
}

.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }


/*--------------------- Armor Selection Styles ------------------------*/

