
/*--------------------- Grid Container -------------------*/
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "nameArea nameArea healthArmor healthArmor" "primaryStat secondaryStat healthArmor healthArmor" "primaryStat secondaryStat apSpoolImpEndurance apSpoolImpEndurance" "skills1 skills2 skills3 skills4" "skills1 skills2 skills3 skills4";
}

.nameArea {
  grid-area: nameArea;
 }

.healthArmor {
  grid-area: healthArmor;
}

.primaryStat {
  grid-area: primaryStat;
}

.secondaryStat {
  grid-area: secondaryStat;
}

.apSpoolImpEndurance {
  grid-area: apSpoolImpEndurance;
}

.skills1 {
  grid-area: skills1;
}

.skills2 {
  grid-area: skills2;
}

.skills3 {
  grid-area: skills3;
}

.skills4 {
  grid-area: skills4;
}

/*--------------------- Title Styles -------------------*/

.charSheet {
  text-align: center;
  text-transform: uppercase;
}

/*--------------------- Input Field Styles -------------------*/
#modSkillPts:hover {
  background-color: #bec5d1;
  cursor: not-allowed;
}

.nameSpace
{
    text-align: center;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
}

.nameArea span, p, select {
    margin-left: 5px;
}

.numSpace{
    text-align: center;
    border: 0;
    border-bottom: 2px solid red;
    outline: 0;
    font-weight: bold;
    width: 35px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}/*Removes Number spinners from input type=number fields*/

.primaryStat input, 
.secondaryStat input, 
.skills1 input,
.skills2 input,
.skills3 input,
.skills4 input{
  width: 35px;
  text-align: center;
}

.skills1 table,
.skills2 table,
.skills3 table{
  margin-left: auto;
  margin-right: auto;
  
}

#total{
  margin-left: 15px;
}

.primaryStat input, 
.secondaryStat input, 
.skills1 input,
.skills2 input,
.skills3 input,
.skills4 input,
.numSpace,
.nameSpace{
  background: transparent;
}/*Makes all input fields transparent*/

/* body{
  background-image: url(parchment2.png);
} */